{% extends 'home/home.html' %}
<!DOCKTYPE html>
<html>
<head>

</head>
<body>
<div>

 <h1>user kavya</h1>
{% block content %}
    <div class="row">
        {% for profile in userdata %}
        <div class="col-md-4">
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <p class="card-text">{{ profile.email }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</div>
</body>
</html>




